body {
  overflow-x: hidden;
}
.icon-font {
  font-family: 'Leckerli One', cursive;
}

.thin-font {
  font-family: 'Athiti', sans-serif;
}
 
.profile-photo {
  height: 400px;
  width: auto;
  margin-left: 60px;
  padding: 20px;
}

.skill-logo {
  height: 30px;
  width: auto;
}

.skill-font {
  font-size: 20px;
}

.project-thumbnail {
  height: 250px;
  width: 170px;
  margin-right: 20px;
  margin-top: 10px;
}

.project-thumbnail-b {
  height: 120px;
  width: 380px;
  margin-right: 20px;
  margin-top: 10px;
}

.custom-margin {
  margin: 5px;
}



#contact-modal-link:hover {
  cursor: pointer;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: 75px;
}

@media only screen and (max-width: 576px) {
  .stack {
    display: flex;
    flex-direction: column;
  }

  .project-thumbnail-b {
    height: 95px;
    width: 250px;
    margin-right: 20px;
    margin-top: 10px;
  }

  .profile-photo {
    height: 300px;
    width: auto;
    margin-left: 50px;
  }
}