body {
  overflow-x: hidden;
}

footer a {
  text-decoration: none;
  color: #fff;
}
.icon-font {
  font-family: 'Leckerli One', cursive;
}

.thin-font {
  font-family: 'Athiti', sans-serif;
}
 
.profile-photo {
  height: 400px;
  width: auto;
  margin-left: 60px;
  padding: 20px;
}

.skill-logo {
  height: 30px;
  width: auto;
}

.skill-font {
  font-size: 20px;
}

.project-thumbnail {
  height: 250px;
  width: 170px;
  margin-right: 20px;
  margin-top: 10px;
}

.project-thumbnail-b {
  height: 120px;
  width: 380px;
  margin-right: 20px;
  margin-top: 10px;
}

.project-thumbnail-c {
  height: 90%;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.project-thumbnail-d {
  height: 70%;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.project-thumbnail-e {
  height: 90%;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.custom-margin {
  margin: 5px;
}

.contact-section {
  width: 85%;
  padding: 16px;
  margin-right: auto;
  margin-left: auto;
}

#contact-modal-link:hover {
  cursor: pointer;
}

.social-links a {
  color: rgb(16, 16, 16);
}

.btn-primary-custom {
  margin: 5px;
  background-color: #00458F;
}

.btn-success-custom {
  margin: 5px;
  background-color: #175E28;
}

.btn-success-custom, .btn-primary-custom {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.sub {
  font-size: 28px;
}

.sub-b {
  font-size: 20px;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: 75px;
}

@media only screen and (max-width: 576px) {
  .stack {
    display: flex;
    flex-direction: column;
  }

  .project-thumbnail-b {
    height: 95px;
    width: 250px;
    margin-right: 20px;
    margin-top: 10px;
  }

  .profile-photo {
    height: 300px;
    width: auto;
    margin-left: 50px;
  }
}

